<nav class="navbar navbar-static-top navbar- navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        Marketing Funnel
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Home</a></li>
        <li class="active"><a ng-href="https://github.com/yante/funnel" target="_blank">Sources</a></li>
      </ul>

    </div>
  </div>

</nav>
