<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p ng-repeat="group in main.grouped">{{ group.key }}: {{group.value}}</p>
        <div id="funnel"><svg class="chart"></svg></div>
        <table class="table" style="display: block;">
          <tr ng-repeat="item in main.funnelData track by $index">
            <td>{{item.date}}</td>
            <td>{{item.source}}</td>
            <td>{{item.product}}</td>
            <td>{{item.country}}</td>
            <td>{{item.action}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
z
</div>
