<test class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <button ng-click="test.click()">Change value</button>
        <chart-directive data="test.data" filter="test.selectedFilters" ng-if="test.dataHasLoaded"></chart-directive>
        <h1 ng-if="!test.dataHasLoaded">Loading data... </h1>
      </div>
      <div class="col-md-4">
        <div ng-repeat="(key, filter) in test.filters">
          <select multiple ng-model="test.selectedFilters[key]">
            <option selected>All</option>
            <option ng-repeat="option in filter">{{option}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</test>
